body{
    background-color: aqua;
}
#main{
   display: block;
   margin-left: auto;
   margin-right: auto;
   background-color: red;
    padding: 1em 0 1em 0 ;
     margin: 1em;
     max-width: 100px;
     
    
}
h1,h3 {
    text-align: center;
    margin: 1em;
}
img{
    display:block;
    text-align: center;
    margin: auto;
width: 100px;
height: auto;
min-width: 600px;
}

#tribute-info{
    margin: 2em;
    font-size: 1.5em;
}
